@import '~@fluentui/react/dist/sass/References.scss';

.marketHub {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}


.welcome {
  text-align: center;
  font-size: 80px;
  width: 50%;
}

.DateClass {
  text-align: center;
  font-size: 80px;
  
}

.welcomeImage {
  width: 20%;
  max-width: 60px;
}

.Approvebutton {
  width: 20%;
  max-width: 420px;
}

.Divsection
{

  padding:10px;


}


.DivsectionComments
{

  padding:1px;

  width:80%


}

.HeadLable {
  font-size: 18px;
 font-family: Cambria;

}

.recolorss
{

  color: #FF0000;
}

.onlyFont
{

  font-family: "Cambria";
  font-size: medium;

}

.boxsize
{

 

  width: 40%;

  height:25px;

  font-size: medium;

  font-family: "Cambria";

  font-weight: $ms-font-weight-regular;

}

.boxsize1
{

 

  width: 30%;

  height:40px;

  font-size: medium;

  font-family: "Cambria";

  font-weight: $ms-font-weight-regular;

}

.Pepsize
{

 
  max-width: 500px;     // adjust as needed
  height: 42px;         // same as PeoplePicker height
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2px 4px;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  background-color: #fff;

}




.links {

  width: 25%;

  height:25px;

  font-size: medium;

  font-family: "Cambria";

  font-weight: $ms-font-weight-regular;
}



.labelsFonts
{

  font-size: 14px;

  font-family: Cambria;

 
}


.labelsFonts1
{

  font-size: 14px;

  font-family: Cambria;
  
  color: #7F7F7F;

 
}

.labelsFontsComments
{

  font-size: 14px;

  font-family: Cambria;

 
}


.coststyle

{


  font-family: "Cambria";
  font-size: 18;
  border: 1px solid black;
 
  
  
}

.padcss
{

  padding-top: 10px;

}

.boxsizeMain
{

  width: 60%;

  height:25px;

  font-size: medium;

  font-family: "Cambria";

  font-weight: $ms-font-weight-regular;

}


.textAreacss
{

  width: 330px;
  height: 45px;
  
  font-size: medium;

  font-family: "Cambria";

  font-weight: $ms-font-weight-regular;

}
